<div id="footer">
  <ul class="icon-social center-block">
    <li>
      <a class="icon-weibo" href="http://weibo.com/bigertech" target="_blank" title="新浪微博"></a>
    </li>
    <li>
      <a class="icon-wechat" href="javascript:void(0);" target="_blank" title="微信">
        <img class='qrcode' src='{{asset "images/qrcode.jpg"}}' />
      </a>
    </li>
    <li>
      <a class="icon-youku" href="/category/videos/" target="_blank" title="笔戈视频"></a>
    </li>
    <li>
      <a class="icon-rss" href="/rss" target="_blank" title="RSS订阅"></a>
    </li>
  </ul>
  <a class="icon-bglogo center-block" href="/" title="笔戈科技"></a>
  <div class="footer-info">
    <a class="jobs" href="/jobs">加入我们</a>
    <p class="copy-right">BigerTech © 2014 • 粤ICP备13003602号-3</p>
  </div>
</div>
