
<div class="bg-header">
  <div class="bg-cover"><img class="lazy" data-original="{{@blog.cover}}" /></div>
  <div class="bg-linear">
    <div class="bg-slogan">
      <img class="bg-logo" src="{{asset "dist/images/bigertech-white.png" }}" alt="bigertech" />
      <h2 class="bg-description">{{@blog.description}}</h2>
    </div>
  </div>
</div>
