
{{! This is the post loop - each post will be output using this markup }}

<div class="container center-block">
  <ul class="posts">
  {{#foreach posts}}
    <li class="post-item">
		    <div class="post">
        <a class="source_url" target="_blank">
            <h2 class="post-title">{{title}}</h2>
        </a>
		      {{content}}
	    </div>
        <div class="post-meta">
            <time class="publish-time" datetime="{{date published_at timeago="ture"}}">
                {{date published_at timeago="ture"}}
            </time>
            <a class="source_url" target="_blank"><span class="recom">查看原文</span></a>
        </div>
    </li>
  {{/foreach}}
  </ul>
</div>
