
<div class="navbar">
  <ul>
    <li class="left"><a class="icon-bglogo" href="/"></a></li>
    <li class="right"><a class="icon-search js-searchBtn"></a></li>
  </ul>
</div>

<div class="l-menu js-tags" style="display: none;">
  <div class="container js-tagContainer">
    <div class="btn_close js-CloseBtn"><span class="icon icon-close"></span></div>
  </div>
  <div class="bg js-Bg"></div>
</div>

<div class="l-search js-search" style="display: none;">
  <div class="container js-searchContainer">
    <div class="btn_close js-closeBtn"><span class="icon icon-close"></span></div>
    <form method="get" id="searchform" action="http://zhannei.baidu.com/cse/search?s=16694821630515921213" target="_blank">
      <input type="hidden" name="s" value="16694821630515921213"></input>
      <input type="text" class="textbox" placeholder="输入关键词进行搜索" value="" name="q" id="s" /><br />
      <!--[if lte IE 9]>
        <p class="ie">
          你的浏览器版本较低，建议使用更高版本浏览器获得良好的体验。<br />
          如需搜索，请在上方空白处输入「搜索关键词」。
        </p>
      <![endif]-->
      <input type="submit" id="searchsubmit" value="[Enter]" />
    </form>
  </div>
  <div class="bg js-Bg"></div>
</div>
