{{!< default}}

{{> "navbar"}}

{{> "header"}}

<div class="content-wrapper">
  <div class="container center-block">
    <ul class="topics">
        <li class="topic-item-left">
            {{index_topic data="topic1"}}
        </li>
        <li class="topic-item-right">
            {{index_topic data="topic2"}}
        </li>
    </ul>

      {{> "loop"}}

      {{pagination type="page"}}

  </div>
</div>

{{> "footer"}}
