
// BASIC
//----------------------------------------------------------
.ie {
  color: #000;
}
.content-wrapper {
  width: 100%;
  margin-top: 380px;
  background-color: #fff;
  .container {
    width: 730px;
  }
}

// 回到顶部
#toTop {
  z-index: 9999;
  background-color: #919191;
  &:hover {
    background-color: #767879;
  }
}
.icon-up {
  font-size: 50px;
}

//主页、文章或视频页面的主图黑色渐变
.home-template, .category-template, .author-template {
  .bg-linear {
    background-image: -ms-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 100%);
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 100%);
    background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(0,0,0,.4)),color-stop(1,#00a3ef));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.1) 0,rgba(0,0,0,.4) 100%);
    background-image: linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 100%);
    background-repeat: repeat-x;
  }
}

// 滚动后，导航条固定。
.archive-template {
  .navbar {
    background-color: rgba(255,255,255,0.97);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    z-index: 9999;
    .icon-bglogo, .icon-search, .icon-video-navi, .icon-tag {
      color: #585a66;
    }
  }
  .bg-header, .topics {
    display: none;
  }
  .content-wrapper {
    margin-top: 100px;
  }
}





// FONTFACE
//----------------------------------------------------------
@font-face {
  font-family: 'icomoon';
  src:url('http://www.bigertech.com/assets/dist/fonts/icomoon.eot?ppibvj');
  src:url('http://www.bigertech.com/assets/dist/fonts/icomoon.eot?#iefixppibvj') format('embedded-opentype'),
  url('http://www.bigertech.com/assets/dist/fonts/icomoon.woff?ppibvj') format('woff'),
  url('http://www.bigertech.com/assets/dist/fonts/icomoon.ttf?ppibvj') format('truetype'),
  url('http://www.bigertech.com/assets/dist/fonts/icomoon.svg?ppibvj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    text-decoration: none;
  }
}

.icon-video-navi:before {
  content: "\e611";
}
.icon-tag:before {
  content: "\e603";
}
.icon-bglogo:before {
  content: "\e60e";
}
.icon-menu:before {
  content: "\e60f";
}
.icon-close:before {
  content: "\e602";
}
.icon-search:before {
  content: "\e604";
}
.icon-down:before {
  content: "\e60c";
}
.icon-up:before {
  content: "\e60d";
}
.icon-play:before {
  content: "\e610";
}
.icon-unheart:before {
  content: "\e609";
}
.icon-heart:before {
  content: "\e60a";
}
.icon-view:before {
  content: "\e60b";
}
.icon-rss:before {
  content: "\e605";
}
.icon-youku:before {
  content: "\e606";
}
.icon-wechat:before {
  content: "\e607";
}
.icon-weibo:before {
  content: "\e608";
}
.icon-prev-page:before {
  content: "\e600";
}
.icon-next-page:before {
  content: "\e601";
}
.icon-commend:before {
  content: "\e613";
}




// NAVBAR
//----------------------------------------------------------
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  .icon-bglogo, .icon-search, .icon-video-navi, .icon-tag {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    cursor: pointer;
  }
  .icon-bglogo {
    margin-left: 15px;
    font-size: 28px;
  }
  .icon-search, .icon-video-navi, .icon-tag {
    margin-right: 15px;
    font-size: 26px;
  }
}

.navbar-pinned {
  background-color: rgba(255,255,255,0.97);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter:alpha(opacity=30);
  z-index: 89;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  .icon-bglogo, .icon-search, .icon-video-navi, .icon-tag {
    color: #585a66;
  }
}





// HEADER
//----------------------------------------------------------
.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  overflow: hidden;
  z-index: -1;
  .bg-cover {
    position: absolute;
    width: 100%;
    z-index: -1;
    img {
      min-width: 100%;
      height: auto;
    }
  }
  .bg-linear {
    display: table;
    width: 100%;
    height: 100%;
  }
  .bg-slogan {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .bg-logo {
      display: block;
      max-width: 100%;
      max-width: 100%\9;
      height: auto;
      margin: 0 auto;
    }
    .bg-description {
      color: #fff;
    }
  }
  // 作者界面简介
  .author-profile {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .author-avatar {
      width: 122px;
      height: 122px;
      border: 2px solid #fff;
      border-radius: 122px;
    }
    .author-name {
      font-size: 36px;
      color: #fff;
    }
    .author-bio {
      font-size: 18px;
      color: #fff;
    }
  }
}





// TOPIC
//----------------------------------------------------------
.topics {
  border-bottom: 1px solid #ebebeb;
  .topic-item-left, .topic-item-right {
    position: relative;
    display: inline-block;
    width: 363px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 50px;
    .topic-wrapper {
      display: block;
      width: 312px;
      height: 170px;
      overflow: hidden;
      &:hover {
        .topic-title {
          text-decoration: underline;
        }
      }
      .topic-img {
        width: 100%;
        height: 170px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
    .topic-title, &:after {
      position: absolute;
      top: 120px;
      left: 0px;
      width: 312px;
      height: 35px;
      padding-left: 5px;
      font-size: 22px;
      color: #fff;
      z-index: 89;
      overflow: hidden;
      white-space:nowrap;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
    }
    &:after {
      content: "";
      background-color: #000;
      opacity: 0.5;
      z-index: 88;
    }
  }
  .topic-item-left {
    float: left;
    padding-right: 50px;
    border-right: 1px solid #ebebeb;
  }
  .topic-item-right {
    padding-left: 50px;
    .topic-title, &:after {
      left: 50px;
    }
  }
}

@media screen and (max-width: 740px) {

  .topics {
    border: 0;
    .topic-item-left {
      float: initial;
      padding-right: 0px;
      border-right: 0px;
    }
    .topic-item-left, .topic-item-right {
      display: block;
      width: 90%;
      height: auto;
      margin: 0 auto;
      padding-top: 28px;
      padding-bottom: 20px;
      padding-left: 26px;
      border-bottom: 1px solid #ebebeb;
      .topic-wrapper {
        width: 0px;
        height: 0px;
        .topic-img {
          display: none;
        }
        .topic-title {
          top: 28px;
          left: 27px;
          width: 90%;
          max-height: 1.2em;
          line-height: 1.2em;
          padding-left: 0px;
          font-size: 14px;
          font-weight: 400;
          color: #000;
        }
      }
      &:after {
        background-color: transparent;
      }
    }
    .post-meta {
      height: 39px;
      margin-top: 24px;
      margin-bottom: 0px;
      font-size: 12px;
      .avatar {
        float: left;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        margin-right: 12px;
      }
      a[href*="author"], .publish-time, .count {
        line-height: 1.5em;
        color: #9EABB3;
      }
      a[href*="author"] {
        display: block;
      }
      .count {
        margin-left: 15px;
        &:before {
          margin-right: 4px;
          font-size: 11px;
          color: #9EABB3;
        }
      }
      .dot {
        display: none;
      }
    }
  }
}



// POST
//----------------------------------------------------------
.posts {
  width: 100%;
  .post-item {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
    .isVideo {
      position: absolute;
      top: 82.5px;
      left: 66.5px;
      font-size: 42px;
      color: #fff;
      cursor: pointer;
    }
    .post-image {
      width: 175px;
      height: 105px;
      margin-right: 32px;
    }
    .post-title {
      max-height: 1.2em;
      line-height: 1.2em;
      font-size: 22px;
      font-weight: 400;
      overflow: hidden;
      white-space:nowrap;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
    }
    .post-meta {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 14px;
      .avatar {
        float: left;
        width: 24px;
        height: 24px;
        border-radius: 24px;
      }
      a[href*="author"], .publish-time, .count {
        color: #9EABB3;
      }
      .count {
        margin-left: 10px;
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
        &:before {
          margin-right: 4px;
          font-size: 11px;
          color: #9EABB3;
        }
      }
      .dot {
        padding-right: 3px;
      }
    }
    .post-description {
      height: 50px;
      font-size: 16px;
      line-height: 1.6em;
      color: #676767;
      /* text-align: justify;
      text-justify: inter-ideograph; */
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow:ellipsis;
    }
  }
}




// PAGINATION
//----------------------------------------------------------
.pagination {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  .page {
    width:36px;
    height:36px;
    padding: 6.5px 12px;
    margin-right: 10px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    &:hover {
      background-color: #eee;
    }
    &:active {
      background-color: #333;
      color: #fff;
    }
  }
  .newer-posts {
    margin-right: 10px;
  }
  .omit {
    color:#000;
  }
  .current {
    background-color: #eee;
  }
  .icon-prev-page, .icon-next-page {
    display: none;
  }
}




// FOOTER
//----------------------------------------------------------
#footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #333;
  .icon-social {
    padding-top: 60px;
    li {
      display: inline-block;
      margin: 0 15px;
    }
    .icon-weibo, .icon-wechat, .icon-youku, .icon-rss {
      font-size: 38px;
      color: #a1a1a1;
      &:hover {
        color: #fff;
      }
    }
  }
  .icon-bglogo {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 60px;
    color: #fff;
  }
  .qrcode {
    display: none;
    position: absolute;
    z-index: 10;
    width: 258px;
    height: 258px;
  }
  .footer-info {
    padding-bottom: 40px;
    font-size: 12px;
    color: #fff;
    .jobs {
      color: #fff;
    }
  }
}


@media screen and (max-width: 740px) {

  .navbar {
    position: absolute;
  }

  .home-template .content-wrapper,
  .author-template .content-wrapper,
  .category-template .content-wrapper {
    margin-top: 250px;
    .container {
      width: 100%;
    }
  }

  .archive-template {
    .navbar {
      background-color: rgba(255,255,255,0.97);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.15);
      box-shadow: 0 0 1px rgba(0,0,0,0.15);
      .icon-bglogo, .icon-search, .icon-tag, .icon-video-navi {
        color: #585a66;
      }
    }
    .content-wrapper {
      margin-top: 70px;
      .container {
        width: 100%;
      }
    }
  }


  .bg-header {
    height: 250px;
    margin-bottom: 20px;
    .bg-cover {
      height: 250px;
      img {
        height : 250px;
      }
    }
    .bg-slogan {
      .bg-logo {
        width: 180px;
        margin-bottom: 5px;
      }
      .bg-description {
        line-height: 1em;
        font-size: 18px;
      }
    }
    .author-profile {
      line-height: 1.6em;
      .author-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 2px solid #fff;
      }
      .author-name {
        font-size: 24px;
      }
      .author-bio {
        font-size: 12px;
      }
    }
  }

  .posts {
    .post-item {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 28px;
      padding-bottom: 20px;
      padding-left: 26px;
      .post-title {
        font-size: 14px;
      }
      .post-meta {
        margin-top: 12px;
        margin-bottom: 0px;
        font-size: 12px;
        .avatar {
          width: 36px;
          height: 36px;
          margin-right: 12px;
        }
        a[href*="author"], .publish-time, .count {
          line-height: 1.5em;
        }
        a[href*="author"] {
          display: block;
        }
        .count {
          margin-left: 15px;
        }
        .dot {
          display: none;
        }
      }
    }
  }

  .pagination {
    width: 116px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    .page-num, .current, .omit, .prev-page, .next-page {
      display: none;
    }
    .icon-prev-page, .icon-next-page {
      display: inline-block;
      margin: 0 auto;
      &:before {
        font-size: 44px;
        font-weight: bold;
        color: #53ae65;
        text-indent: 0px !important;
      }
    }
    .icon-prev-page {
      margin-right: 18px;
    }
  }
}






// keyframes for bg-logo
.home-template .bg-logo {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.home-template .bg-description {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}



// keyframes for navbar-pinned
.navbar-pinned {
  -webkit-animation: fade-in-down-navbar 0.6s;
  animation: fade-in-down-navbar 0.6s;
}

@-webkit-keyframes fade-in-down-navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-down-navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
