.ie {
  color: #000;
}
.content-wrapper {
  width: 100%;
  margin-top: 380px;
  background-color: #fff;
}
.content-wrapper .container {
  width: 730px;
}
#toTop {
  z-index: 9999;
  background-color: #919191;
}
#toTop:hover {
  background-color: #767879;
}
.icon-up {
  font-size: 50px;
}
.home-template .bg-linear,
.category-template .bg-linear,
.author-template .bg-linear {
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.4) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.4) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.4) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0.4)), color-stop(1, #00a3ef));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0, rgba(0, 0, 0, 0.4) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.4) 100%);
  background-repeat: repeat-x;
}
.archive-template .navbar {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
.archive-template .navbar .icon-bglogo,
.archive-template .navbar .icon-search,
.archive-template .navbar .icon-video-navi,
.archive-template .navbar .icon-tag {
  color: #585a66;
}
.archive-template .bg-header,
.archive-template .topics {
  display: none;
}
.archive-template .content-wrapper {
  margin-top: 100px;
}
@font-face {
  font-family: 'icomoon';
  src: url('http://www.bigertech.com/assets/dist/fonts/icomoon.eot?ppibvj');
  src: url('http://www.bigertech.com/assets/dist/fonts/icomoon.eot?#iefixppibvj') format('embedded-opentype'), url('http://www.bigertech.com/assets/dist/fonts/icomoon.woff?ppibvj') format('woff'), url('http://www.bigertech.com/assets/dist/fonts/icomoon.ttf?ppibvj') format('truetype'), url('http://www.bigertech.com/assets/dist/fonts/icomoon.svg?ppibvj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  text-decoration: none;
}
.icon-video-navi:before {
  content: "\e611";
}
.icon-tag:before {
  content: "\e603";
}
.icon-bglogo:before {
  content: "\e60e";
}
.icon-menu:before {
  content: "\e60f";
}
.icon-close:before {
  content: "\e602";
}
.icon-search:before {
  content: "\e604";
}
.icon-down:before {
  content: "\e60c";
}
.icon-up:before {
  content: "\e60d";
}
.icon-play:before {
  content: "\e610";
}
.icon-unheart:before {
  content: "\e609";
}
.icon-heart:before {
  content: "\e60a";
}
.icon-view:before {
  content: "\e60b";
}
.icon-rss:before {
  content: "\e605";
}
.icon-youku:before {
  content: "\e606";
}
.icon-wechat:before {
  content: "\e607";
}
.icon-weibo:before {
  content: "\e608";
}
.icon-prev-page:before {
  content: "\e600";
}
.icon-next-page:before {
  content: "\e601";
}
.icon-commend:before {
  content: "\e613";
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.navbar .icon-bglogo,
.navbar .icon-search,
.navbar .icon-video-navi,
.navbar .icon-tag {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  cursor: pointer;
}
.navbar .icon-bglogo {
  margin-left: 15px;
  font-size: 28px;
}
.navbar .icon-search,
.navbar .icon-video-navi,
.navbar .icon-tag {
  margin-right: 15px;
  font-size: 26px;
}
.navbar-pinned {
  background-color: rgba(255, 255, 255, 0.97);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  z-index: 89;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.navbar-pinned .icon-bglogo,
.navbar-pinned .icon-search,
.navbar-pinned .icon-video-navi,
.navbar-pinned .icon-tag {
  color: #585a66;
}
.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  overflow: hidden;
  z-index: -1;
}
.bg-header .bg-cover {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.bg-header .bg-cover img {
  min-width: 100%;
  height: auto;
}
.bg-header .bg-linear {
  display: table;
  width: 100%;
  height: 100%;
}
.bg-header .bg-slogan {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bg-header .bg-slogan .bg-logo {
  display: block;
  max-width: 100%;
  max-width: 100%\9;
  height: auto;
  margin: 0 auto;
}
.bg-header .bg-slogan .bg-description {
  color: #fff;
}
.bg-header .author-profile {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bg-header .author-profile .author-avatar {
  width: 122px;
  height: 122px;
  border: 2px solid #fff;
  border-radius: 122px;
}
.bg-header .author-profile .author-name {
  font-size: 36px;
  color: #fff;
}
.bg-header .author-profile .author-bio {
  font-size: 18px;
  color: #fff;
}
.topics {
  border-bottom: 1px solid #ebebeb;
}
.topics .topic-item-left,
.topics .topic-item-right {
  position: relative;
  display: inline-block;
  width: 363px;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.topics .topic-item-left .topic-wrapper,
.topics .topic-item-right .topic-wrapper {
  display: block;
  width: 312px;
  height: 170px;
  overflow: hidden;
}
.topics .topic-item-left .topic-wrapper:hover .topic-title,
.topics .topic-item-right .topic-wrapper:hover .topic-title {
  text-decoration: underline;
}
.topics .topic-item-left .topic-wrapper .topic-img,
.topics .topic-item-right .topic-wrapper .topic-img {
  width: 100%;
  height: 170px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.topics .topic-item-left .topic-wrapper .topic-img:hover,
.topics .topic-item-right .topic-wrapper .topic-img:hover {
  webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.topics .topic-item-left .topic-title,
.topics .topic-item-right .topic-title,
.topics .topic-item-left:after,
.topics .topic-item-right:after {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 312px;
  height: 35px;
  padding-left: 5px;
  font-size: 22px;
  color: #fff;
  z-index: 89;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.topics .topic-item-left:after,
.topics .topic-item-right:after {
  content: "";
  background-color: #000;
  opacity: 0.5;
  z-index: 88;
}
.topics .topic-item-left {
  float: left;
  padding-right: 50px;
  border-right: 1px solid #ebebeb;
}
.topics .topic-item-right {
  padding-left: 50px;
}
.topics .topic-item-right .topic-title,
.topics .topic-item-right:after {
  left: 50px;
}
@media screen and (max-width: 740px) {
  .topics {
    border: 0;
  }
  .topics .topic-item-left {
    float: initial;
    padding-right: 0px;
    border-right: 0px;
  }
  .topics .topic-item-left,
  .topics .topic-item-right {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 26px;
    border-bottom: 1px solid #ebebeb;
  }
  .topics .topic-item-left .topic-wrapper,
  .topics .topic-item-right .topic-wrapper {
    width: 0px;
    height: 0px;
  }
  .topics .topic-item-left .topic-wrapper .topic-img,
  .topics .topic-item-right .topic-wrapper .topic-img {
    display: none;
  }
  .topics .topic-item-left .topic-wrapper .topic-title,
  .topics .topic-item-right .topic-wrapper .topic-title {
    top: 28px;
    left: 27px;
    width: 90%;
    max-height: 1.2em;
    line-height: 1.2em;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .topics .topic-item-left:after,
  .topics .topic-item-right:after {
    background-color: transparent;
  }
  .topics .post-meta {
    height: 39px;
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .topics .post-meta .avatar {
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin-right: 12px;
  }
  .topics .post-meta a[href*="author"],
  .topics .post-meta .publish-time,
  .topics .post-meta .count {
    line-height: 1.5em;
    color: #9EABB3;
  }
  .topics .post-meta a[href*="author"] {
    display: block;
  }
  .topics .post-meta .count {
    margin-left: 15px;
  }
  .topics .post-meta .count:before {
    margin-right: 4px;
    font-size: 11px;
    color: #9EABB3;
  }
  .topics .post-meta .dot {
    display: none;
  }
}
.posts {
  width: 100%;
}
.posts .post-item {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ebebeb;
}
.posts .post-item .isVideo {
  position: absolute;
  top: 82.5px;
  left: 66.5px;
  font-size: 42px;
  color: #fff;
  cursor: pointer;
}
.posts .post-item .post-image {
  width: 175px;
  height: 105px;
  margin-right: 32px;
}
.posts .post-item .post-title {
  max-height: 1.2em;
  line-height: 1.2em;
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.posts .post-item .post-meta {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
.posts .post-item .post-meta .avatar {
  float: left;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}
.posts .post-item .post-meta a[href*="author"],
.posts .post-item .post-meta .publish-time,
.posts .post-item .post-meta .count {
  color: #9EABB3;
}
.posts .post-item .post-meta .count {
  margin-left: 10px;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
.posts .post-item .post-meta .count:before {
  margin-right: 4px;
  font-size: 11px;
  color: #9EABB3;
}
.posts .post-item .post-meta .dot {
  padding-right: 3px;
}
.posts .post-item .post-description {
  height: 50px;
  font-size: 16px;
  line-height: 1.6em;
  color: #676767;
  /* text-align: justify;
      text-justify: inter-ideograph; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.pagination {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.pagination .page {
  width: 36px;
  height: 36px;
  padding: 6.5px 12px;
  margin-right: 10px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
}
.pagination .page:hover {
  background-color: #eee;
}
.pagination .page:active {
  background-color: #333;
  color: #fff;
}
.pagination .newer-posts {
  margin-right: 10px;
}
.pagination .omit {
  color: #000;
}
.pagination .current {
  background-color: #eee;
}
.pagination .icon-prev-page,
.pagination .icon-next-page {
  display: none;
}
#footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #333;
}
#footer .icon-social {
  padding-top: 60px;
}
#footer .icon-social li {
  display: inline-block;
  margin: 0 15px;
}
#footer .icon-social .icon-weibo,
#footer .icon-social .icon-wechat,
#footer .icon-social .icon-youku,
#footer .icon-social .icon-rss {
  font-size: 38px;
  color: #a1a1a1;
}
#footer .icon-social .icon-weibo:hover,
#footer .icon-social .icon-wechat:hover,
#footer .icon-social .icon-youku:hover,
#footer .icon-social .icon-rss:hover {
  color: #fff;
}
#footer .icon-bglogo {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 60px;
  color: #fff;
}
#footer .qrcode {
  display: none;
  position: absolute;
  z-index: 10;
  width: 258px;
  height: 258px;
}
#footer .footer-info {
  padding-bottom: 40px;
  font-size: 12px;
  color: #fff;
}
#footer .footer-info .jobs {
  color: #fff;
}
@media screen and (max-width: 740px) {
  .navbar {
    position: absolute;
  }
  .home-template .content-wrapper,
  .author-template .content-wrapper,
  .category-template .content-wrapper {
    margin-top: 250px;
  }
  .home-template .content-wrapper .container,
  .author-template .content-wrapper .container,
  .category-template .content-wrapper .container {
    width: 100%;
  }
  .archive-template .navbar {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .archive-template .navbar .icon-bglogo,
  .archive-template .navbar .icon-search,
  .archive-template .navbar .icon-tag,
  .archive-template .navbar .icon-video-navi {
    color: #585a66;
  }
  .archive-template .content-wrapper {
    margin-top: 70px;
  }
  .archive-template .content-wrapper .container {
    width: 100%;
  }
  .bg-header {
    height: 250px;
    margin-bottom: 20px;
  }
  .bg-header .bg-cover {
    height: 250px;
  }
  .bg-header .bg-cover img {
    height: 250px;
  }
  .bg-header .bg-slogan .bg-logo {
    width: 180px;
    margin-bottom: 5px;
  }
  .bg-header .bg-slogan .bg-description {
    line-height: 1em;
    font-size: 18px;
  }
  .bg-header .author-profile {
    line-height: 1.6em;
  }
  .bg-header .author-profile .author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
  }
  .bg-header .author-profile .author-name {
    font-size: 24px;
  }
  .bg-header .author-profile .author-bio {
    font-size: 12px;
  }
  .posts .post-item {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 26px;
  }
  .posts .post-item .post-title {
    font-size: 14px;
  }
  .posts .post-item .post-meta {
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .posts .post-item .post-meta .avatar {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
  .posts .post-item .post-meta a[href*="author"],
  .posts .post-item .post-meta .publish-time,
  .posts .post-item .post-meta .count {
    line-height: 1.5em;
  }
  .posts .post-item .post-meta a[href*="author"] {
    display: block;
  }
  .posts .post-item .post-meta .count {
    margin-left: 15px;
  }
  .posts .post-item .post-meta .dot {
    display: none;
  }
  .pagination {
    width: 116px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pagination .page-num,
  .pagination .current,
  .pagination .omit,
  .pagination .prev-page,
  .pagination .next-page {
    display: none;
  }
  .pagination .icon-prev-page,
  .pagination .icon-next-page {
    display: inline-block;
    margin: 0 auto;
  }
  .pagination .icon-prev-page:before,
  .pagination .icon-next-page:before {
    font-size: 44px;
    font-weight: bold;
    color: #53ae65;
    text-indent: 0px !important;
  }
  .pagination .icon-prev-page {
    margin-right: 18px;
  }
}
.home-template .bg-logo {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.home-template .bg-description {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.navbar-pinned {
  -webkit-animation: fade-in-down-navbar 0.6s;
  animation: fade-in-down-navbar 0.6s;
}
@-webkit-keyframes fade-in-down-navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down-navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
